#body {
    background-color: #3c3c3f;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#main {
    background-color: #485757;
    margin: 10px;
    min-width: 250px;
    min-height: 400px;
    width: 40svw;
    height: 80svh;


    border: 1px solid;

    display:  flex;
    flex-direction: column;
    align-items: center;
}
#top {
    border-bottom:  1px solid;
    width: 100%;
    height: 10svh;
    justify-items:  center;
    align-items: center;
}